<html>
  <head>
    <title><%= @title %></title>
    <style type="text/css">
      body { font-family: serif; font-size: 120% }
      #container { width: 590px; overflow: hidden; }
      .navbox th, .navbox td,
      .wikitable th, .wikitable td
      { font-size: 80% }
      .collapsed, .autocollapse { display: none }
      img { max-width: 580px }
      #footer { font-size: 80%; }
    </style>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
  </head>
  <body>
    <div id="container">
      <%= @content %>

      <div id="footer">
        <hr />
        <a href="<%= @original_url %>">original version</a>
        <a href="<%= @smartphone_url %>">smartphone version</a>
        <a href="<%= @mobile_url %>">mobile version</a>
      </div>
    </div>
  </body>
</html>


