<html>
  <head>
    <title><%= @title || 'wikindle.org' %></title>
    <style type="text/css">
      body { font-family: serif; font-size: <%= @settings.size %>px }
      #container { width: 570px; overflow: hidden; }
      .navbox th, .navbox td,
      .wikitable th, .wikitable td,
      .reflist
      { font-size: <%= @settings.smaller_size %>px }
      .collapsed, .autocollapse { display: none }
      img { max-width: 570px }
      #wikindle_footer { font-size: <%= @settings.smaller_size %>px; }
      #header, .section_heading button { display: none }
      .infobox, .thumbinner { margin-left: auto; margin-right: auto; }
      #feedback-page form textarea { width: 550px }
      .button-container { margin-bottom: 0.5em; }
      .clear { clear: both; }
    </style>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
    <% if @original_url %>
      <link rel="canonical" href="<%= @original_url %>" />
    <% end %>
    <%= erb :"partials/google_analytics" %>
    <script type="text/javascript" src="/application.js"></script>
    <% if @show_flattr %>
      <%= erb :"partials/flattr_head" %>
    <% end %>
  </head>
  <body>
    <div id="container">
      <%= yield %>

      <div id="wikindle_footer">
        <hr />
        <% if @original_url %>
          <a href="<%= @original_url %>">Original version</a>
        <% end %>
        <% if @smartphone_url %>
          <a href="<%= @smartphone_url %>">Smartphone version</a>
        <% end %>
        <% if @mobile_url %>
          <a href="<%= @mobile_url %>">Mobile version</a>
        <% end %>
        <% unless @path == '/settings' %>
          <a href="/settings">Settings</a>
        <% end %>
        <% unless @path == '/feedback' %>
          <a href="/feedback">Feedback</a>
        <% end %>
        <% unless @path == '/help' %>
          <a href="/">Help</a>
        <% end %>
        <% unless @path == '/' %>
          <a href="/">Home</a>
        <% end %>
        <%= haml :"partials/search" %>
      </div>
    </div>
  </body>
</html>


